/* Affects everything! */
* {
  font-family: Arial;
}

/* Affects all the headings */
h1, h2, h3 {
  text-decoration: underline overline;
  font-style: italic;
  border-style: ridge;
}

/* Affects the title */
h1 {
  color: dodgerblue;
}

/* Affects the headings */
h2 {
  color: deeppink;
}

/* Affects the sub-headings */
h3 {
  color: darkmagenta;
}

/*Affects the text */
p {
  text-align: center;
  color: midnightblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

/* Background colour */
body {
  background-color: beige;
}
